.infinite {
  background: #333;
  color: #fff;
  -webkit-user-select: none;

  width: 800px;
  height: 360px;
  margin: 10px auto;
  position: relative;
}

.container {
  overflow: hidden;
  position: relative;
  background: #222;
}

.carousel {
  width: 8000px;
  position: relative;
  top: 0;
  left: -800px;
}

.slide {
  height: 360px;
  width: 800px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transition {
  transition: .7s;
}

.slide:before {
  content: "";
}

.msg {
  position: absolute;
  color: white;
  font-size: 30px;
  bottom: 10px;
  left: 15px;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  z-index: 1;
}

.slider-nav {
  text-align: center;
  margin: 5px 0 0 0;
}
.slider-nav dot {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #ddd;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 50%;
}
.slider-nav dot active {
  background: #999;
}

